---
layout: default
overtitle: I'm a Digital Product Designer.
title: I make innovation easy to use.
description: I focus on what makes your business unique to help you craft products that your customers will love and come back for.
featured_image: /images/social.jpg
<!-- description: By focusing on collaboration, research, and iteration I help brands create digital experiences that customers love to use. -->
<!-- overtitle: I'm a UX & UI Designer -->
<!-- title: I solve business problems & bring big ideas to life -->
<!-- title: I help businesses solve problems, connect with users, & test new ideas. -->
<!-- title: I solve business problems and test new ideas -->
<!-- description: I work with companies like yours to design digital experiences that your customers will love to use, day after day. -->
<!-- description: I partner with companies like yours to design digital experiences that are intuitive, accessible, and memorable. -->
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
				<a href="https://calendly.com/henrydan/design-help" class="hero__cta button--fill">Let's Talk</a>
				<!-- <a href="https://calendly.com/henrydan/do-you-need-design" class="hero__cta button--fill">Get In Touch</a> -->
			</p>
		</div>
	</section>

	<section class="listing">
		<div class="wrap">

			{% for project in site.projects %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">
				<div class="project__content grid" style="border-color: {{ accent_color }}">
						<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
							{% for image in project.gallery_images %}
							<a href="{{ project.url | relative_url }}"><img src="{{ '/images/projects/' | relative_url}}{{ image }}" alt="" class="project__image"></a>
							{% endfor %}
						</div>
					<div>
						<h3 class="project__title"><a href="{{ project.url | relative_url }}" style="--accent: {{ accent_color }}">{{ project.title }}</a></h3>
						<p class="project__subtitle subtitle">{{ project.subtitle }}</p>
						<p class="project__description">
							{{ project.description }}
							<a href="{{ project.url | relative_url }}" class="project__link button--text --right"
								style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Case Study</a>
						</p>
					</div>
				</div>
			</article>

			{% endfor %}
			<!-- <h3 class="project__title">Projects I can't share (yet)</h3>
			<p class="project__description"><br>These are UX & UI design projects that are either in progress, or are currently covered by a non-disclosure agreement. They've been great to work on, and hopefully I will get to share them on here soon! </p>
			{% include post-components/gallery.html
				columns = 4
				full_width = true
				images = "/images/NDA/data.jpg,/images/NDA/politics.jpg,/images/NDA/health.jpg,/images/NDA/trucks.jpg,
				"
			%} -->
			</div>
		</div>
	</section>

	{% include section__about.html %}

	<!-- <section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Recent blog posts</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All Posts</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All Posts</a>
		</div>
	</section> -->
</div>