<!-- <footer class="footer">
	<div class="wrap grid">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image | relative_url }}" class="footer__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="footer__title">
			{{ site.data.settings.basic_settings.site_title }}
			<p>I'm a UX & UI Designer</p>
		</a>
		{% endif %}
		
		<div class="footer__copyright">
			{% if site.data.settings.footer_settings.tagline %}
			<p>{{ site.data.settings.footer_settings.tagline }}</p>
			{% endif %}
			<p class="subtitle"><a href="mailto:hello@henrydan.me" target="_blank">hello@henrydan.me</a>
			</p>
			<p class="subtitle">Digital Product Designer</a>
			</p>
			<a href="https://calendly.com/henrydan/design-help" class="header__cta button--fill">Let's Talk</a>
			<span class="footnote">© Henry Dan</span>
		</div>

	</div> -->