<section class="about">
  <!-- {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %} -->
    <div class="about__content">
      <h2 class="title">Hi, I'm Henry</h2>
      <!-- <p class="subtitle">I'm a Digital Product Designer</p> -->
      <p class="subtitle subtitle--light">I'm a digital product designer, helping businesses craft products that solve problems and stand out.</p>
      <!-- <p class="subtitle subtitle--light">Have any questions, ideas, or just aren't sure where to start? I'd love to chat.</p> -->
      <!-- <p class="subtitle subtitle--light">How can I help you?</p> -->
      <!-- <p class="subtitle subtitle--light">I'll help you solve business problems, more deeply understand your users, and prototype your ideas to test them with real customers.</p> -->

      <a href="https://calendly.com/henrydan/design-help" class="header__cta button--fill">Let's Talk</a>
      <br>
    </div>
       <!-- <div class="about__image">
      <img src="{{ '/images/profile.png' | relative_url }}" alt="headshot of a man in a black shirt">

      {% include component-socials.html %}
    </div> -->

</section>