---
layout: default
---
<div class="page-post">

	<header class="post__header header--single">
		
		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<div class="post__subtitle subtitle--light">{{ page.description }}</div>
			<time class="post__date label">{{ page.date | date_to_long_string }}</time>
		</div>

		<img src="{{ page.featured_image | relative_url }}" class="post__featured-image">

	</header>

	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}

				<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;}
</style>
<div id="mc_embed_signup">
<form action="https://henrydan.us7.list-manage.com/subscribe/post?u=3840eb154352379acbcddae9f&amp;id=718ead31e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h4 for="mce-EMAIL">Subscribe and get all of my latest content:</h4>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3840eb154352379acbcddae9f_718ead31e1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div> -->

			</article>

			<div class="post__more grid">
				{% if page.previous.url %}
				<a class="prev-post subtitle" href="{{ page.previous.url | relative_url }}">{{page.previous.title}}</a>
				{% endif %}
				{% if page.next.url %}
				<a class="next-post subtitle" href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
				{% endif %}
			</div>

		</div>

	</section>

</div>